.container{
    display: grid;
    grid-template-columns: 30% 60% 10%;
}

.container > div{
    padding: 1em;
    border: 1px solid red;
}

.containter > div:nth-child(odd){
    background: #ddd;
    border: 1px solid green;
}